/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@500&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* common style or utilities*/

body {
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    margin: 0;
}

main {
    margin: 0;
    background-color: rgba(255, 144, 14, 0.1);
    height: 1250px;
}

.btn-primary {
    background-color: #FF900E;
    border: none;
    font-weight: 600;
    font-family: 'Work Sans';
    width: 200px;
    height: 60px;
    font-size: 25px;
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
}

.font-size-lite {
    font-weight: 500;
    color: #727272;
}

/*------- Header style            --------*/

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo-title {
    font-weight: 700;
    font-size: 45px;
}

.menu-items {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    gap: 30px;
}

.menu-list a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #424242;
    ;
}

/*------ header section hover ------ */

.header-logo-title:hover {
    color: orangered;
    transition-duration: .7s;
}

.menu-list:hover a {
    color: orangered;
    transition-duration: .5s;
}

/* Company Profile section style  */

.company-profile {
    text-align: center;
    width: 886px;
    margin: 0 auto;
    padding-bottom: 32px;
}

.company-title {
    font-size: 64px;
    color: #131313;
    font-weight: 700;
    margin-bottom: 20px;
    margin: 0 auto;
}

.company-details {
    font-size: 16px;
    color: #727272;
    padding-bottom: 15px;
    font-weight: 400;
}

.banner img {
    width: 1524px;
    margin: 22px -287px;

}

/* Company Feature Style */

.company-feature {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 59px auto;
    margin-left: 90px;

}

.feature-visual {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}

.feature-body {
    width: 708px;
    font-family: 'Work Sans';
}

.feature-body-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;

}

.feature-body-details {
    color: #727272;
    font-size: 16px;
}

/* company-profile-body style*/

.company-profile-body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1562px;
    margin: 0 auto;
}

.company-port {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
    width: 700px;
}

.company-article {
    box-shadow: 0px 4px 30px rgb(0 0 0 / 6%);
    border-radius: 8px;
    background-color: white;
    padding: 15px 15px;
    width: 586px;
    height: 171px;


}

.company-profile-title {
    font-weight: 700;
    font-size: 45px;
    border-left: 6px solid orange;
    padding-left: 10px;
}

.company-profile-description, .article-details {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.experience-button {
    background-color: #FF900E;
    border: none;
    font-weight: 600;
    width: 251px;
    height: 147px;
    font-size: 25px;
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    position: absolute;
    top: 250%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.facts {
    text-align: left;
    margin: 42px 556px;
}

.fact {
    margin-bottom: 60px;
}

.facts-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fact-box:hover {
background-color:azure;
transform: scale(1.2);
transition: transform .6s;
}

.facts-title {


    font-weight: 700;
    font-size: 45px;

}

.fact-box {
    border: 2px solid orange;
    width: 200px;
    text-align: center;
    padding: 31px 0px;
    border-radius: 10px;
}

.fact-box h1 {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fact-box img{
padding: 10px 10px;
}
.fact-box h4{
    margin-top: 0px;
    margin-bottom: 20px;
    color: #727272;
    font-weight: 600;
}